<div class="item-wrapper">
  <img class="item-image" matListAvatar [src]="product.image" [alt]="product.name">
  <h3 matLine class="item-name">
    {{product.name}}
    <span>{{product.type}}</span>
  </h3>
  <p matLine class="item-info">
    <span> Manufacturer: {{product.brand}} </span>
    <span> Price: {{product.price | currency}} </span>
  </p>


  <p class="item-icon" [ngClass]="product.count > 0 ? 'cursor-pointer' : ''" (click)="buyProduct(product)">
    <mat-icon>add_shopping_cart</mat-icon>
  </p>

</div>
